In [87]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [92]:
df_fake = pd.read_csv("Fake.csv")
df_true = pd.read_csv("True.csv")

C:\Users\lenovo\AppData\Local\Temp\ipykernel_17712\2087879451.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fake = pd.read_csv("Fake.csv")

In [93]:
df_fake.head()

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,31-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,31-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,30-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,29-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,25-Dec-17,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df_true["text"] = df_true["text"].replace("(Reuters)","",regex=True)
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON () - The head of a conservative Rep...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON () - Transgender people will be all...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON () - The special counsel investigat...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON () - Trump campaign adviser George ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON () - President Donald Trump...,politicsNews,"December 29, 2017"

In [95]:
df_fake["target"] = 0
df_true["target"] = 1

In [96]:
df_true.head(10)

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON () - The head of a conservative Rep...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON () - Transgender people will be all...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON () - The special counsel investigat...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON () - Trump campaign adviser George ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON () - President Donald Trump...,politicsNews,"December 29, 2017",1
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON () - The Whit...",politicsNews,"December 29, 2017",1
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla () - President Donald Tru...",politicsNews,"December 29, 2017",1
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
9,Alabama official to certify Senator-elect Jone...,WASHINGTON () - Alabama Secretary of State Joh...,politicsNews,"December 28, 2017",1

In [97]:
df_fake = df_fake .loc[:, ~df_fake .columns.str.startswith('Unnamed')]

In [98]:
df_fake.head(10)

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,31-Dec-17,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,31-Dec-17,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,30-Dec-17,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,29-Dec-17,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,25-Dec-17,0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,25-Dec-17,0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,23-Dec-17,0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,23-Dec-17,0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,22-Dec-17,0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,21-Dec-17,0

In [99]:
df_fake = df_fake.drop(["title","subject","date"],axis = 1)
df_true = df_true.drop(["title","subject","date"],axis = 1)

In [100]:
df = pd.concat([df_fake,df_true],axis = 0)

In [101]:
df.head(10)

                                                text  target
0  Donald Trump just couldn t wish all Americans ...       0
1  House Intelligence Committee Chairman Devin Nu...       0
2  On Friday, it was revealed that former Milwauk...       0
3  On Christmas day, Donald Trump announced that ...       0
4  Pope Francis used his annual Christmas Day mes...       0
5  The number of cases of cops brutalizing and ki...       0
6  Donald Trump spent a good portion of his day a...       0
7  In the wake of yet another court decision that...       0
8  Many people have raised the alarm regarding th...       0
9  Just when you might have thought we d get a br...       0

In [102]:
df = df.sample(frac=1)
df.head(10)

                                                    text  target
17355  BISHKEK () - European observers said on Monday...       1
17450  JAMESTOWN, St. Helena () - One of humanity s m...       1
17491  JOHANNESBURG () - South Africa s ruling Africa...       1
20468  WASHINGTON () - U.S. President Donald Trump on...       1
16004  President Trump tweeted that he was considerin...       0
6551   After Tuesday s semi-coronation of Donald Trum...       0
19497  BEIJING () -  Good preparations  should be mad...       1
18679  HAVANA () - The United States  decision to red...       1
21344  Politically correct racism condoned by the Lef...       0
19001   Farmers and ranchers are being run off their ...       0

In [103]:
df.reset_index(inplace=True)
df.drop(["index"], axis = 1, inplace = True)
df.head(10)

                                                text  target
0  BISHKEK () - European observers said on Monday...       1
1  JAMESTOWN, St. Helena () - One of humanity s m...       1
2  JOHANNESBURG () - South Africa s ruling Africa...       1
3  WASHINGTON () - U.S. President Donald Trump on...       1
4  President Trump tweeted that he was considerin...       0
5  After Tuesday s semi-coronation of Donald Trum...       0
6  BEIJING () -  Good preparations  should be mad...       1
7  HAVANA () - The United States  decision to red...       1
8  Politically correct racism condoned by the Lef...       0
9   Farmers and ranchers are being run off their ...       0

In [104]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]','',text)
    text = re.sub('[()]','',text)
    text = re.sub('\\W',' ',text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [105]:
df["text"] = df["text"].apply(wordopt)
df.head(100)

                                                 text  target
0   bishkek    european observers said on monday v...       1
1   jamestown  st  helena    one of humanity s mos...       1
2   johannesburg    south africa s ruling african ...       1
3   washington    u s  president donald trump on s...       1
4   president trump tweeted that he was considerin...       0
..                                                ...     ...
95  seattle    u s  defense secretary ash carter t...       1
96   i know you ll miss me   did he really say tha...       0
97  north korea just blinked with the strong state...       0
98  barack hussein obama has been in over his head...       0
99  president elect donald trump came to the defen...       0

[100 rows x 2 columns]

In [43]:
X = df["text"]
Y = df["target"]
X.shape

(44919,)

In [44]:
X_train,x_test,Y_train,y_test = train_test_split(X,Y,test_size=0.3)
X_train.shape

(31443,)

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

print(X_train)
vectorization = TfidfVectorizer()
analyze = vectorization.build_analyzer()
print(analyze(X_train[0]))
xv_train = vectorization.fit_transform(X_train)
xv_test = vectorization.transform(x_test)
print(xv_train.shape)
print(xv_test.shape)

43409    does anyone remember the    rebate offered to ...
44542    washington    president donald trump acknowled...
28844    berlin    germany sought to cool tempers over ...
19972    in an op ed that puts to rest any notion that ...
17116    monrovia    former soccer star george weah lea...
                               ...
40631    nice threat to potus   the intelligence commun...
26214    washington    here are some of the highlights ...
31093    the republican party should be prepared to los...
39321    washington    u s  house of representatives sp...
21752    cj pearson  the  year old conservative social ...
Name: text, Length: 31443, dtype: object
['donald', 'trump', 'threw', 'an', 'early', 'morning', 'temper', 'tantrum', 'on', 'twitter', 'again', 'last', 'week', 'trump', 'let', 'his', 'daughter', 'ivanka', 'take', 'over', 'for', 'him', 'at', 'the', 'giving', 'her', 'his', 'seat', 'at', 'the', 'conference', 'table', 'national', 'outrage', 'ensued', 'because', 'ivanka', 'is', 'not', 'an', 'elected', 'official', 'nor', 'does', 'she', 'have', 'any', 'political', 'or', 'diplomatic', 'experience', 'the', 'incident', 'also', 'served', 'as', 'reminder', 'of', 'the', 'nepotism', 'practiced', 'in', 'trump', 'white', 'house', 'on', 'monday', 'morning', 'trump', 'lashed', 'out', 'and', 'actually', 'attacked', 'hillary', 'clinton', 'daughter', 'chelsea', 'in', 'defense', 'of', 'his', 'irresponsible', 'decision', 'to', 'let', 'ivanka', 'take', 'his', 'place', 'when', 'left', 'conference', 'room', 'for', 'short', 'meetings', 'with', 'japan', 'and', 'other', 'countries', 'asked', 'ivanka', 'to', 'hold', 'seat', 'very', 'standard', 'angela', 'agrees', 'donald', 'trump', 'realdonaldtrump', 'july', 'chelsea', 'clinton', 'were', 'asked', 'to', 'hold', 'the', 'seat', 'for', 'her', 'mother', 'as', 'her', 'mother', 'gave', 'our', 'country', 'away', 'the', 'fake', 'news', 'would', 'say', 'chelsea', 'for', 'pres', 'donald', 'trump', 'realdonaldtrump', 'july', 'should', 'ask', 'german', 'chancellor', 'angela', 'merkel', 'about', 'this', 'because', 'it', 'likely', 'she', 'll', 'contradict', 'trump', 'claim', 'of', 'course', 'bill', 'clinton', 'never', 'let', 'chelsea', 'take', 'his', 'seat', 'at', 'the', 'and', 'president', 'obama', 'certainly', 'never', 'let', 'his', 'daughter', 'malia', 'take', 'his', 'seat', 'at', 'the', 'either', 'both', 'would', 'have', 'been', 'criticized', 'for', 'it', 'and', 'hillary', 'would', 'have', 'been', 'criticized', 'for', 'it', 'as', 'well', 'especially', 'by', 'conservatives', 'who', 'would', 'have', 'thrown', 'the', 'mother', 'of', 'all', 'hissy', 'fits', 'in', 'fact', 'don', 'think', 'president', 'has', 'ever', 'let', 'their', 'kids', 'take', 'over', 'for', 'them', 'in', 'such', 'way', 'so', 'despite', 'what', 'trump', 'claims', 'it', 'is', 'not', 'very', 'standard', 'trump', 'effort', 'to', 'defend', 'his', 'bad', 'decisions', 'by', 'bringing', 'up', 'what', 'is', 'very', 'much', 'now', 'hypothetical', 'is', 'pathetic', 'we', 'll', 'never', 'know', 'if', 'hillary', 'would', 'have', 'done', 'such', 'thing', 'because', 'she', 'isn', 'president', 'but', 'trump', 'is', 'and', 'that', 'means', 'his', 'behavior', 'is', 'open', 'for', 'criticism', 'besides', 'chelsea', 'clinton', 'herself', 'responded', 'to', 'trump', 'and', 'made', 'it', 'clear', 'that', 'her', 'parents', 'would', 'never', 'have', 'considered', 'doing', 'what', 'trump', 'did', 'good', 'morning', 'mr', 'president', 'it', 'would', 'never', 'have', 'occurred', 'to', 'my', 'mother', 'or', 'my', 'father', 'to', 'ask', 'me', 'were', 'you', 'giving', 'our', 'country', 'away', 'hoping', 'not', 'https', 'co', 'chelsea', 'clinton', 'chelseaclinton', 'july', 'twitter', 'users', 'responded', 'by', 'blasting', 'trump', 'to', 'smithereens', 'hrc', 'praised', 'trump', 'kids', 'at', 'debate', 'now', 'trump', 'tries', 'to', 'use', 'chelsea', 'as', 'political', 'human', 'shield', 'what', 'classless', 'comment', 'adam', 'best', 'adamcbest', 'july', 'get', 'real', 'if', 'chelsea', 'sat', 'in', 'potus', 'hrc', 'seat', 'for', 'five', 'minutes', 'everybody', 'from', 'sean', 'hannity', 'to', 'paul', 'ryan', 'would', 'be', 'screaming', 'impeachment', 'adam', 'best', 'adamcbest', 'july', 'chelsea', 'clinton', 'had', 'been', 'asked', 'to', 'hold', 'the', 'seat', 'for', 'her', 'mother', 'republicans', 'would', 'have', 'been', 'outraged', 'edward', 'hardy', 'edwardthardy', 'july', 'and', 'misogyny', 'at', 'the', 'same', 'time', 'shameful', 'eugene', 'gu', 'md', 'eugenegu', 'july', 'that', 'what', 'you', 'were', 'busy', 'doing', 'giving', 'the', 'country', 'away', 'jemaine', 'clement', 'ajemaineclement', 'july', 'your', 'side', 'would', 'be', 'calling', 'for', 'hillaryclinton', 'impeachment', 'https', 'co', 'evan', 'connell', 'evanoconnell', 'july', 'also', 'has', 'phd', 'in', 'international', 'relations', 'so', 'she', 'sort', 'of', 'more', 'qualified', 'yo', 'andrea', 'kuszewski', 'andreakuszewski', 'july', 'image', 'alex', 'wong', 'getty', 'images']
(31443, 92638)
(13476, 92638)

In [46]:
#from sklearn.linear_model import LogisticRegression
#lr = LogisticRegression()

#lr.fit(xv_train,Y_train)
#print("The Accuracy of the Logistic Regression Model is {}".format(lr.score(xv_test,y_test)))
#print(classification_report(y_test,lr.predict(xv_test)))

In [47]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(xv_train,Y_train)
print("The Accuracy of the Decision Tree Classifier Model is {}".format(dtc.score(xv_test,y_test)))
print(classification_report(y_test,dtc.predict(xv_test)))

The Accuracy of the Decision Tree Classifier Model is 0.9495399228257643
              precision    recall  f1-score   support

           0       0.94      0.96      0.95      7061
           1       0.96      0.94      0.95      6415

    accuracy                           0.95     13476
   macro avg       0.95      0.95      0.95     13476
weighted avg       0.95      0.95      0.95     13476

In [48]:
from sklearn.naive_bayes import MultinomialNB
nbc = MultinomialNB()

# Train the classifier
nbc.fit(xv_train, Y_train)

# Evaluate the classifier
accuracy = nbc.score(xv_test, y_test)
print("The Accuracy of the Naive Bayes Model is {}".format(accuracy))

# Print classification report
print(classification_report(y_test, nbc.predict(xv_test)))

The Accuracy of the Naive Bayes Model is 0.9321015138023152
              precision    recall  f1-score   support

           0       0.93      0.95      0.94      7061
           1       0.94      0.92      0.93      6415

    accuracy                           0.93     13476
   macro avg       0.93      0.93      0.93     13476
weighted avg       0.93      0.93      0.93     13476

In [49]:
#from sklearn.ensemble import GradientBoostingClassifier
#gclf = GradientBoostingClassifier()
#gclf.fit(xv_train,Y_train)
#print("The Accuracy of the Decision Tree Classifier Model is {}".format(gclf.score(xv_test,y_test)))
#print(classification_report(y_test,gclf.predict(xv_test)))

In [50]:
#from sklearn.ensemble import RandomForestClassifier
#rclf = RandomForestClassifier()
#rclf.fit(xv_train,Y_train)
#print("The Accuracy of the Random Forest Classifier Model is {}".format(rclf.score(xv_test,y_test)))
#print(classification_report(y_test,rclf.predict(xv_test)))

In [53]:
from sklearn.ensemble import VotingClassifier

# Creating a VotingClassifier
voting_clf = VotingClassifier(estimators=[
    ('nb', nbc),
    ('dt', dtc)
], voting='hard')  # Use 'soft' for probability averaging

# Training the ensemble model
voting_clf.fit(xv_train, Y_train)

# Predict using the ensemble model
ensemble_predictions = voting_clf.predict(xv_test)

# Evaluate the ensemble model
accuracy = accuracy_score(y_test, ensemble_predictions)
print(f"The Accuracy of the Voting Classifier Model is {accuracy}")
print(classification_report(y_test, ensemble_predictions))

The Accuracy of the Voting Classifier Model is 0.9337340457108935
              precision    recall  f1-score   support

           0       0.89      0.99      0.94      7061
           1       0.99      0.87      0.93      6415

    accuracy                           0.93     13476
   macro avg       0.94      0.93      0.93     13476
weighted avg       0.94      0.93      0.93     13476

In [59]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"

def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    #pred_LR = lr.predict(new_xv_test)
    pred_DT = dtc.predict(new_xv_test)
    pred_NBC = nbc.predict(new_xv_test)
    pred_VC = voting_clf.predict(new_xv_test)
    #pred_GBC = gclf.predict(new_xv_test)
    #pred_RFC = rclf.predict(new_xv_test)

    return print("\nDT Prediction: {} \nNBC Prediction: {} \nVoting Classifier Prediction: {}".format(output_lable(pred_DT[0]),                                                                                                      
                                                                                                      output_lable(pred_NBC[0]),
                                                                                                      output_lable(pred_VC[0])))
                                                                                                    

    #return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_lable(pred_LR[0]),                                                                                                       output_lable(pred_DT[0]),
                                                                                                              #output_lable(pred_GBC[0]),
                                                                                                              #output_lable(pred_RFC[0])))

In [65]:
news = str(input()) #"ATHENS (Reuters) - Rescue teams took people out of floodwaters in inflatable boats and in bulldozers on Saturday as they moved into villages hit hardest by a sweeping rainstorm that killed at least 10 people in central Greece this week."
manual_testing(news) #this was true, collected from https://www.usnews.com/news/world/articles/2023-09-09/greek-rescue-teams-move-into-worst-hit-flood-villages

DT Prediction: Not A Fake News
NBC Prediction: Not A Fake News
Voting Classifier Prediction: Not A Fake News

In [108]:
news = str(input()) # "BREAKING: Scientist Discovers Alien Life on Mars! In a groundbreaking discovery, Dr. John Smith has found undeniable evidence of alien life on Mars. According to Dr. Smith, sophisticated organisms are thriving in underground caves on the red planet. This discovery was made possible by a new type of radar technology developed by NASA, which can penetrate deep below the Martian surface. The scientific community is in a state of excitement and skepticism as they await further confirmation and details."
manual_testing(news)

DT Prediction: Fake News
NBC Prediction: Fake News
Voting Classifier Prediction: Fake News

In [109]:

# Creating DataFrame with actual and predicted values
#results_df = pd.DataFrame({'Actual': y_test, 'Predicted': ensemble_predictions})
#print(results_df.head(10))  # Print the first 10 rows for demonstration